@font-face {
  font-family: Karla;
  src: url("../fonts/Karla/Karla-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: Karla;
  src: url("../fonts/Karla/Karla-BoldItalic.woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Karla;
  src: url("../fonts/Karla/Karla-Italic.woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Karla;
  src: url("../fonts/Karla/Karla-Regular.woff");
  font-weight: 400;
}

body {
  font-family: Karla;
}
